body {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a9/Flag_of_the_Soviet_Union.svg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}
